/__pycache__/
/.pytest_cache/
/.ruff_cache/
/allure-results/
/src/api/base/__pycache__/
/src/api/carts/__pycache__/
/src/api/comments/__pycache__/
/src/api/posts/__pycache__/
/src/api/products/__pycache__/
/src/api/quotes/__pycache__/
/src/api/recipes/__pycache__/
/src/api/users/__pycache__/
/src/utils/__pycache__/
/tests/__pycache__/
/venv/